<% layout('/layouts/default.html', {title: '服务器管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-screen-desktop"></i> ${text(bizMediaServer.isNewRecord ? '新增流媒体服务器管理' : '编辑流媒体服务器管理')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${bizMediaServer}" action="${ctx}/biz/bizMediaServer/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('地区')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:hidden path="isNewRecord"/>
								<#form:hidden path="id"/>
								<#form:treeselect title="${text('地区')}"
									path="office" labelPath="office.officeName"
									url="${ctx}/sys/office/treeData?level=1" canSelectParent="true" class="required" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('域名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="domainName" maxlength="300" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('IP')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="serverIp" maxlength="100" class="form-control required 123."/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('端口')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="serverPort" maxlength="6" class="form-control required 123"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required">*</span> ${text('服务器类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:radio path="serverType" dictType="biz_server_type" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('biz:bizMediaServer:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>